.vscode
.spotify-token-cache
.HA_VERSION
secrets.yaml
**/.google.token
google_calendars.yaml
.cloud
.storage
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal.ios.conf
known_devices.yaml
.uuid
plex.conf
ssl
tts
icloud
.DS_Store
._.DS_Store
.ios.conf
scratchpad.txt
bak
**/__pycache__
**/img-tmp
.wakatime-project
